/venv
/data
/predict_output
/db/__init__.py
/strategy/__init__.py
/backtest_result_test
/data_backtest
/logs
.env

# Python
__pycache__/
*.pyc

# Database
*.db

# Log & runtime data
logs/
*.log
*.xlsx

# VSCode/IDE
.vscode/
.idea/

run_trade.sh
dev_trade.sh

