{% extends 'base.html' %}
{% block content %}
<form method="POST">
  <label>Pair:</label><br>
  <input type="text" name="pair" placeholder="contoh: INJUSDT" required><br>
  <label>Limit:</label><br>
  <input type="text" name="limit" placeholder="contoh: 100" required><br>
  <label>Timeframe:</label><br>
  <select name="timeframe">
    <option value="1h">1h</option>
    <option value="4h">4h</option>
    <option value="15m">15m</option>
    <option value="1d">1d</option>
  </select><br><br>
  <button type="submit">🔁 Jalankan Backtest</button>
</form>
{% endblock %}
