{% extends 'base.html' %}
{% block content %}
<h3>Daftar Bot Aktif</h3>
<a href="/bots/new" class="btn btn-primary">Tambah Bot</a>
<table class="table table-bordered table-hover table-responsive-md">
  <thead>
    <tr>
      <th>ID</th>
      <th>Coin</th>
      <th>Timeframe</th>
      <th>TP%</th>
      <th>SL%</th>
      <th>Status</th>
      <th>Mode</th>
      <th>Note</th>
      <th>Best Pair</th>
      <th>atr_filter</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for bot in bots %}
      <tr>
        <td>{{ bot.id }}</td>
        <td>{{ bot.coin }}</td>
        <td>{{ bot.timeframe }}</td>
        <td>{{ bot.tp_percent }}</td>
        <td>{{ bot.sl_percent }}</td>
        <td>
          {% if bot.active %}
            <span class="badge bg-success">Active</span>
          {% else %}
            <span class="badge bg-secondary">Inactive</span>
          {% endif %}
        </td>
        <td>{{ bot.mode }}</td>
        <td>{{ bot.note }}</td>
        <td>{{ bot.best_pair }}</td>
        <td>
          {% if bot.filter_atr %}
            <span class="badge bg-success">Active</span>
          {% else %}
            <span class="badge bg-secondary">Inactive</span>
          {% endif %}
        </td>
        <td>
          <div class="btn-group">
            <a class="btn btn-sm btn-outline-primary" href="/bots/{{ bot.id }}/edit">Edit</a>
            <form action="/bots/{{ bot.id }}/delete">
                <button class="btn btn-sm btn-outline-danger" type="submit" onclick="return confirm('Apakah Anda yakin ingin menghapus bot ini?')">Delete</button>
            </form>
            <form action="/bots/{{ bot.id }}/toggle" method="post" style="display:inline;">
                <button class="btn btn-sm btn-outline-warning" type="submit">Toggle</button>
            </form>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
